{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
<style type="text/css">
        .important { color: #336699; }
</style>

<div class="example-wrapper">
    <p>Hello {{ name }}!</p>
</div>
{% endblock %}